<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado liebre</title>
</head>

<body>

    <header>
        <img src="/images/logo-mercado-liebre.svg" alt="logo mercado liebre" width="400" >
        <p>Lugar para poner barra de busqueda</p>
        <br>
        <p><strong>Comprá en cuotas y sin tarjeta de credito</strong></p>
        <nav>
            <ul>
                <li><a href="" >Ofertas </a></li>
                <li><a href="" >Tiendas Oficiales</a></li>
                <li><a href="" >Vender</a></li>
                <li><a href="" >Ayuda</a></li>
                <br>
                <li><a href="" >Creá tu cuenta</a></li>
                <li><a href="" >Ingresá</a></li>
                <li><a href="" >Mis compras</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <img src="/images/img-home-banner.jpg" alt="banner" width="400" >
        <br>
        <section>
            <header>
                <p><strong>Basado en tu última visita</strong></p>
            </header>
                <main>
                    <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera moulinex modelo x" width="400" >
                    <ul type=None>
                        <li>$6.770</li>
                        <li>40% OFF</li>
                        <li>Cafetera Moulinex</li>
                    </ul>
                        <br>
                    <img src="/images/img-macbook-pro-2019.jpg" alt="notebook macbook pro modelo 2019" width="400" >
                    <ul type=None>
                        <li>$230.000</li>
                        <li>20% of</li>
                        <li>MacBook Pro 2019</li>
                    </ul>
                        <br>
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="telefono celular samsung galaxy modelo S10" width="400" >
                    <ul type=None>
                        <li>$70.500</li>
                        <li>10% of</li>
                        <li>Samsung Galaxy S10</li>
                    </ul>
                        <br>
                    <img src="/images/img-tv-samsung-smart.jpg" alt="television samsung smart tv 43" width="400" >
                    <ul type=None>
                        <li>$23.200</li>
                        <li>5% of</li>
                        <li>SmartTv Samsung 43"</li>
                    </ul>
                </main>
                    
        </section>
        <br>
        <section>
            <header>
                <p> <strong>Sección Ofertas</strong></p>
            </header>
                <main>
                    <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera moulinex modelo x" width="400" >
                    <ul type=None>
                        <li>$6.770</li>
                        <li>40% OFF</li>
                        <li>Cafetera Moulinex</li>
                    </ul>
                        <br>
                    <img src="/images/img-macbook-pro-2019.jpg" alt="notebook macbook pro modelo 2019" width="400" >
                    <ul type=None>
                        <li>$230.000</li>
                        <li>20% of</li>
                        <li>MacBook Pro 2019</li>
                    </ul>
                        <br>
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="telefono celular samsung galaxy modelo S10" width="400" >
                    <ul type=None>
                        <li>$70.500</li>
                        <li>10% of</li>
                        <li>Samsung Galaxy S10</li>
                    </ul>
                        <br>
                    <img src="/images/img-tv-samsung-smart.jpg" alt="television samsung smart tv 43" width="400" >
                    <ul type=None>
                        <li>$23.200</li>
                        <li>5% of</li>
                        <li>SmartTv Samsung 43"</li>
                    </ul>
                </main>
        </section>
    </main>
    <br>
    <footer>
        <section>
            <header>
                <strong> Pagá con tarjeta o en efectivo</strong>
            </header>
                <main>
                    <p style = "width:400px">
                        Con MercadoLiebreCash tenés cuotas sin 
                        interés con tarjeta o efectivo en puntos de
                        pago Y siempre es seguro!!
                    </p>
                </main>
        </section>
        <section>
            <header>
                <strong>Envio gratis desde los $2.500</strong>
            </header>
                <main>
                    <p style = "width:400px">
                        Solo por estar registrado en Mercado liebre
                        tenés envios gratis en miles de productos. Es
                        un beneficio de Mercado Puntos.
                    </p>
                </main>
        </section>
        <section>
            <header>
                <strong>Seguridad de Principio a fin</strong>
            </header>
                <main>
                    <p style = "width:400px">
                        ¿No te gusta? Devolvelo! En Mercado liebre
                        no hay nada que no puedas hacer porque estás
                        siempre protegidx
                        Copyrigth 1999-2020 MercadoLiebre S.R.L
                    </p>
                </main>
        </section>



    </footer>

    
</body>
</html>