<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Iniciar Sesion</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6d5db1da77.js" crossorigin="anonymous"></script>

</head>
<body class="body-register">
    <header class="header-principal">
        <section class="superior">
        <div class="logoML"> <img src="/images/logo-mercado-liebre.svg" alt="logo mercado liebre">
            </div>
            
            <div class="barraIcono"><i class="fas fa-search"></i>
            <input class="barra" type="search" name="Buscar articulo" placeholder="buscar productos, marcas">
            </div> 
            
            <h2 class="comprar"><i class="fas fa-hand-holding-usd"></i><strong> Comprá en cuotas y sin tarjeta de credito</strong></h2>
        </section>
        <nav>
            
            <ul class="nav1" type=none>
                <li><a href="" >Ofertas </a></li>
                <li><a href="" >Tiendas Oficiales</a></li>
                <li><a href="" >Vender</a></li>
                <li><a href="" >Ayuda</a></li>
            </ul>
           
               
            <ul class="nav2" type=none>   
                <li> <a href="" > Creá tu cuenta  <i class="fas fa-address-card"></i></li>
                <li><a href="" >Ingresá </a> <i class="fas fa-sign-in-alt"></i></li>
                <li><a href="" >Mis compras </a> <i class="fas fa-shopping-basket"></i></li>
            </ul>
                
                <br>           
                
        </nav>
        
            
        <div class="burger-menu"> <a href=""></a>
            <i class="fas fa-bars"></i>
            </div>
        
            <br>
            <br>
       
    </header>
    
    <main class="main-register">
        <h2>LogIn</h2>        
        <form action="/login.html">                
                <input type="text" name="nombre" id="nombre" placeholder="Nombre de Uusario" class="input" required>
                
                <input type="password" name="user" id="user" placeholder="Contraseña"class="input" required>                               
                
                <div class="botones">                
                <input type="reset" name="resetear" id="reset" class="boton-reset-register" >
                <input type="submit" name="enviar" id="enviar" class="boton-enviar-register">
                </div>
        </form>     

        <script src=""></script>
    </main>

<footer>
        <section>
                <div class="iconfooter"><i class="fas fa-credit-card"></i></div>               
                <strong> Pagá con tarjeta o en efectivo</strong>            
               
                    <p >Con MercadoLiebreCash tenés cuotas sin 
                        interés con tarjeta o efectivo en puntos de
                        pago Y siempre es seguro!!
                    </p>               
        </section>
        <section>
           
            <div class="iconfooter"><i class="fas fa-gift"></i></div>                
                <strong>Envio gratis desde los $2.500</strong>        
                
                    <p >Solo por estar registrado en Mercado liebre
                        tenés envios gratis en miles de productos. Es
                        un beneficio de Mercado Puntos.
                    </p>
                
        </section>
        <section >            
            <div class="iconfooter"><i class="fas fa-user-shield"></i></div>                  
                <strong>Seguridad de Principio a fin</strong>           
               
                    <p >¿No te gusta? Devolvelo! En Mercado liebre
                        no hay nada que no puedas hacer porque estás
                        siempre protegidx
                        Copyrigth 1999-2020 MercadoLiebre S.R.L
                    </p>
               
        </section>
        
</footer>

    
</body>
</html>